

<html>
    <head>
        <meta charset='UTF-8'>
        <title>Welcome</title>
    </head>
    <body>
        <div id="container">
            <div id="menu">
                <h3>Test App</h3>
                <a href="/welcome">Home</a>
                <a href="/login">Sign in</a>
            </div>
            <div>
                <h2>Welcome to the Test</h2>
                <p>We're going to build a cool application using MVC framework!</p>
                <a href="/login"><button>Start</button></a>
            </div>
            <div class="row">
                <div class="one-third column">
                    <h4>Manage Users</h4>
                    <p>Using this application you'll learn how to add, remove, and edit users for the application</p>
                </div>
                <div class="one-third column">
                    <h4>Leave messages</h4>
                    <p>Users will be able to leave a message to another user using this application</p>
                </div>
                <div class="one-third column">
                    <h4>Edit User Information</h4>
                    <p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
                </div>
            </div>
        </div>
    </body>
</html>